@inherits Behind.RecordsIndex

@RegisterStyleSheet("css/components/recordsIndex.css", "css/global/textbox.css", "css/global/table.css")

<recordsindex-component>
    <input type="text" placeholder="Advanced Search" />

    @if (this.Records != null)
    {
        <table cellspacing="0">
            <thead>
                <tr>
                    <th>
                        Time
                    </th>
                    <th>
                        Level
                    </th>
                    <th>
                        Message
                    </th>
                    <th>
                        Tags
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in this.Records)
                {
                    <tr selectable tabindex="0">
                        <td>
                            @record.Time
                        </td>
                        <td>
                            @record.Level
                        </td>
                        <td>
                            @record.Message
                        </td>
                        <td>
                            @foreach (var tag in record.Tags)
                            {
                                <tag>@tag</tag>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <waiting></waiting>
    }
</recordsindex-component>
