@inherits Behind.RecordsIndex

@RegisterStyleSheet("css/components/recordsIndex.css", "css/global/table.css")

<recordsindex-component ref="RecordsIndexComponentElement">
    @if (this.Records != null)
    {
        if (this.Records.Any())
        {
            <table cellspacing="0">
                <tbody>
                    @foreach (var record in this.Records)
                    {
                        <tr selectable tabindex="0" onclick="@(() => OnRecordSelect(record))" onkeyup="@(e => { if (e.Key == "Enter") OnRecordSelect(record); })" class="@(this.SelectedChronicleRecord == record ? "active" : "")">
                            <td>
                                <span class="inline-info">
                                    <span>
                                        @record.Time
                                    </span>
                                    ●
                                    <span class="@record.Level">
                                        @record.Level
                                    </span>
                                </span>
                                @record.Message
                            </td>
                            <td>
                                @foreach (var tag in record.Tags)
                                {
                                    <tag>@tag</tag>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <span class="no-results">
                No records were found.
            </span>
        }
    }
    else
    {
        <Logo Animating="@true"></Logo>
    }

    <dialog ref="RecordsDetailDialog" Show="@(this.SelectedChronicleRecord != null)" onhide="@this.OnDialogClose" unfocusclosable="@true"
            closable="@true" modal="@true" contentclass="record-detail-modal" title="@($"{this.SelectedChronicleRecord?.Level} at {this.SelectedChronicleRecord?.Time}")"
            accentcolor="@(this.SelectedChronicleRecord != null ? this.GetLevelColor(this.SelectedChronicleRecord.Level) : ((byte) 0, (byte) 0, (byte) 0))">
        @if (this.SelectedChronicleRecord?.Message != null)
        {
            <p class="message">
                <span>@this.SelectedChronicleRecord?.Message</span>
            </p>
        }
        @if (this.SelectedChronicleRecord?.Exception != null)
        {
            <p class="exception">
                <h2>Exception</h2>
                <span>@this.SelectedChronicleRecord?.Exception</span>
            </p>
        }
        <p class="tags">
            <h2>Tags</h2>
            <span>
                @if (this.SelectedChronicleRecord?.Tags != null && this.SelectedChronicleRecord.Tags.Any())
                {
                    foreach (var tag in this.SelectedChronicleRecord.Tags)
                    {
                        <tag>@tag</tag>
                    }
                }
                else
                {
                    <span class="noTags">No tags on this record.</span>
                }
            </span>
        </p>
    </dialog>

</recordsindex-component>
